@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
	font-family: 'Poppins', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #eaeeea;
	--secondary-color: #468a56;
	--tertiary-color: #57805eaf;
	--accent-color: #dbdbdb;
	--acchover-color: #c0c0c0;
	--accacc-color: #8f8f8f;
	--accaccacc-color: #747474;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}





.navbar {
	background-color: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
	position: sticky;
	top: 0;
	color: var(--text-color);
	height: 70px;
	display: flex;
	align-items: center;
}

.navlink {
	border-radius: 10px;
	background-color: var(--tertiary-color);
	padding: 10px;
	margin: 5px;
	box-shadow: 0px 1px 2px var(--text-color);
	text-decoration: none;
}

.navlink:hover {
	background-color: var(--secondary-color);
}

.navlink:visited {
	color: var(--text-color);
}

.navlink:active {
	box-shadow: inset 0px 1px 2px var(--text-color);
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

.navbar img {
	border-radius: 100%;
	height: 40px;
	width: 40px;
	box-shadow: 0px 1px 2px var(--text-color);
	margin: 5px;
	object-fit: cover;
}

.navbar div {
	border-radius: 5px;
	background-color: var(--accent-color);
	box-shadow: 0px 1px 2px var(--text-color);
	display: inline-flex;
	align-items: center;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	transition: background-color 0.3s ease;
}

.navbar div:hover {
	background-color: var(--acchover-color);
}

.navbar div p {
	margin: 5px;
}

.frame {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--primary-color);
	box-shadow: 0px 2px 2px;
	border-radius: 20px;
	border: solid 2px;
	border-color: var(--secondary-color);
}

.spacer {
	margin: 10px
}

.textfield {
	background-color: transparent;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px dotted var(--secondary-color);
}

.textfield:focus {
	outline: none;
	border-bottom: 2px solid var(--secondary-color);
}

body {
	background-image: URL("https://upload.wikimedia.org/wikipedia/commons/1/16/Shennongjia_virgin_forest.jpg");
	margin: auto;
}

.break {
	border-top: var(--secondary-color) solid 2px;
}

.button {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	background-color: var(--primary-color);
	border: var(--tertiary-color) solid;
}

.button:hover {
	border-color: var(--secondary-color);
}

.button:active {
	background-color: var(--secondary-color);
}

.fill {
	width: 70%;
	min-height: calc(100vh - 72px);
	max-height: fit-content;
	background-color: var(--accent-color);
	margin: auto;
	align-items: center;
	text-align: center;
	flex-direction: column;
	display: flex;
}

.contentimg {
	margin: 20px ;
	border-radius: 20px;
	box-shadow: 0px 1px 2px var(--text-color);
	height: 30em;
	max-width: 90%;
	object-fit: cover;
}

.box {
	border-radius: 5px;
	background-color: var(--acchover-color);
	box-shadow: 0px 1px 2px var(--text-color);
	display: inline-flex;
	align-items: center;
	padding: 5px;
}

.profileimg {
	border-radius: 100%;
	height: 40px;
	width: 40px;
	box-shadow: 0px 1px 2px var(--text-color);
	margin: 5px;
	object-fit: cover;
}

.profileimglarge {
	border-radius: 100%;
	height: 40rem;
	width: 40rem;
	box-shadow: 0px 1px 2px var(--text-color);
	margin: 5px;
	object-fit: cover;
}

img {
	background-color: var(--text-color);
}

.verticalBreak {
	height: 2.5em;
	margin: 5px;
	border-right: var(--accacc-color) solid 1px;
}

.transbox {
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	transition: background-color 0.3s ease;
	padding-left: 2px;
}

.transbox:hover {
	background-color: var(--accacc-color);
	scroll-snap-align: center;
}

.iconbutton {
	border: none;
	border-radius: 100%;
	height: 3em;
	width: 3em;
	background-color: transparent;
	transition: all 0.2s ease;
	margin: 2px;
}

.iconbutton:hover {
	background-color: var(--accacc-color);
}

.iconbutton:active {
	background-color: var(--text-color);
	color: var(--accacc-color);
}

h1 {
	margin-top: 0;
}

.previewimg {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.window {
	background-color: var(--text-color);
	width: 17em;
	height: 10em;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
}

.postgrid {
	display: grid;
	grid-auto-flow:row;
	gap: 20px;
	max-width: 70%;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-scroll {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	max-width: 60vw;
	gap: 20px;
}
/* width */
.flex-scroll::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  .flex-scroll::-webkit-scrollbar-track {
	background: transparent;
  }

  .flex-scroll::-webkit-scrollbar-thumb {
	background: transparent;
  }
  /* Handle */
  .flex-scroll:hover::-webkit-scrollbar-thumb {
	background: var(--accacc-color);
  }
  
  /* Handle on hover */
  .flex-scroll::-webkit-scrollbar-thumb:hover {
	background: var(--accaccacc-color);
  }

  .chatwindow {
	width: 80%;
	border-radius: 15px;
	background-color: var(--primary-color);
	height: 50vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
  }

  .chatwindow::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  .chatwindow::-webkit-scrollbar-track {
	background: transparent;
  }

  .chatwindow::-webkit-scrollbar-thumb {
	background: transparent;
  }
  /* Handle */
  .chatwindow:hover::-webkit-scrollbar-thumb {
	background: var(--accacc-color);
  }
  
  /* Handle on hover */
  .chatwindow::-webkit-scrollbar-thumb:hover {
	background: var(--accaccacc-color);
  }

  .chatbar {
	width: 80%;
	margin-top: 10px;
	position: sticky;
	bottom: 0;
	
  }

  .chatbar input {
	width: 100%;
	height: 30px;
	background-color: var(--primary-color);
	border-radius: 5px;
	border-style: solid;
	border-color: var(--acchover-color);
  }

  .chatbar input:focus {
	outline: solid var(--secondary-color);
	outline-offset: 3px;
  }

  .messagebox {
	width: 100%;
	height: fit-content;
  }

  .messagebox div{
	
	padding-left: 5px;
	padding-right: 5px;
  }

  .own div{
	float: right;
	background-color: var(--secondary-color);
	border-radius: 15px 15px 1px 15px;
  }

  .unown div {
	float: left;
	background-color: var(--accacc-color);
	border-radius: 15px 15px 15px 1px;
  }