@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Mukta:wght@300&family=Poppins&display=swap');

:root {
	font-family: 'Mukta','Poppins', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--PURE-WHITE);
	--font-mono: 'Fira Mono', monospace;
	--PURE-WHITE: #ffffff;
    --PURE-BLACK: #000000;
	--DARK-GRAY: #302D2B;
    --GRAY-ACCENT: #45403D;
    --SIGNAL-ORANGE: #EB7209;
    --VAPOR-PEACH: #E73C7E;
    --SKY-BLUE: #09B8DE;
    --VAPOR-CYAN: #23d573;
    --ERROR-RED: #e73c3c;
}

body {
	background: linear-gradient(-45deg, var(--SIGNAL-ORANGE), var(--VAPOR-PEACH), var(--SKY-BLUE), var(--VAPOR-CYAN));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	min-height: 100vh;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes heat {
  0%   {background-color: var(--VAPOR-CYAN);}
  25%  {background-color: var(--SKY-BLUE);}
  50%  {background-color: var(--VAPOR-PEACH);}
  75% {background-color: var(--SIGNAL-ORANGE);}
  100%   {background-color: var(--VAPOR-CYAN);}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


.mainbox {
    background-color: var(--PURE-BLACK);
    min-width: 100%;
    min-height: calc(100vh - 23em - 21px);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.transparentbox {
    background-color: transparent;
    min-width: 100%;
    min-height: fit-content;
    height: 10em;
}

.halftonebox {
    height: 10em;
}

.halftonebox div {
    --dotSize: 2rem;
    --bgPosition: calc(var(--dotSize) / 2);
    --stop1: 3%;
    --stop2: 65%;
    height: inherit;
    background: white;
    filter: contrast(50);
    mix-blend-mode: multiply;

  }
  
  .halftonebox div::after {
    /* Cover our element */
    content: '';
    position: absolute;
    inset: 0;
  
    /* Dotted background */
    background-image: radial-gradient(circle at center, var(--PURE-BLACK) var(--stop1), transparent var(--stop2)), radial-gradient(circle at center, black var(--stop1), transparent var(--stop2));
    background-size: var(--dotSize) var(--dotSize);
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
    mask-image: linear-gradient( rgb(0 0 0 / 0.6), rgb(0 0 0));
    -webkit-mask-image: linear-gradient( rgb(0 0 0 / 0.5), rgb(0 0 0));;
    height: inherit;
    
  }

  .navbar {
    background-color: var(--PURE-BLACK);
    width: calc(100% - 20px);
    height: 3em;
    position: sticky;
    top: 0;
    padding: 10px;
    border-bottom: var(--GRAY-ACCENT) solid 1px;
    z-index: 5;
    display: flex;
    flex-direction: row;
  }

  .navbar div:first-of-type { 
    background-color: var(--DARK-GRAY);
    border-radius: 0.5em;
    height: 3em;
    width: fit-content;
    display: flex;
  }

  .navbutton {
    background-color: transparent;
    border: none;
    color: var(--PURE-WHITE);
    height: 100%;
    transition: all 0.5s;
  }

  .nbleft {
    border-radius: 0.5em 0 0 0.5em;
  }
  .nbright {
    border-radius: 0 0.5em 0.5em 0;
  }
  .navbutton:hover {
    background-color: var(--GRAY-ACCENT);
  }

  .vbreak {
    border-left: 1px solid var(--GRAY-ACCENT);
    height: 100%;
  }

  .gitbutton {
    display: flex;
    height: 3em;
    width: 3em;
    border-radius: 100%;
    background-color: var(--DARK-GRAY);
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;

    transition: all 1s;
  }

  .gitbutton:hover {
    animation: heat 1s ease infinite;
  }

  .gitbutton path {
    stroke: var(--PURE-WHITE);
    fill: var(--PURE-WHITE);
  }

  .horizontalbox {
    background-color: var(--PURE-BLACK);
    width: 70%;
    height: calc(100vh - 3em - 21px);
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formbox {
    display: flex;
    flex-direction: column;
    width: 40em;
    max-width: 90%;
    text-align: center;
  }
  
  .blockbox .inputbox {
    background-color: var(--GRAY-ACCENT);
    outline-color: var(--GRAY-ACCENT);
  }
  .inputbox {
    background-color: var(--DARK-GRAY);
    border: none;
    border-radius: 0.5em;
    height: 3em;
    margin: 10px;
    color: var(--PURE-WHITE);
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--DARK-GRAY);
    transition: all 0.3s;
  }

  .checkbox {
    outline-offset: 2px;
    border: none;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--DARK-GRAY);
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    accent-color: var(--DARK-GRAY);
    transition: all 0.3s;
    appearance: none;
  }

  .checkbox:checked {
    background-color: var(--DARK-GRAY);
  }
  
  .blockbox .checkbox {
    outline-color: var(--GRAY-ACCENT);
    accent-color: var(--GRAY-ACCENT);
  }

  .blockbox .checkbox:checked {
    background-color: var(--GRAY-ACCENT);
  }

  input:-webkit-autofill{
    -webkit-text-fill-color: var(--PURE-WHITE) !important;
}

  .peach-text:focus,.peach-text:hover,.peach-text:focus:-webkit-autofill,.peach-text:hover:-webkit-autofill {
    color: var(--VAPOR-PEACH) ;
    -webkit-text-fill-color: var(--VAPOR-PEACH) !important;
    outline-color: var(--VAPOR-PEACH);
    accent-color: var(--VAPOR-PEACH);
  }

  .cyan-text:focus,.cyan-text:hover,.cyan-text:focus:-webkit-autofill,.cyan-text:hover:-webkit-autofill {
    color: var(--VAPOR-CYAN) ;
    -webkit-text-fill-color: var(--VAPOR-CYAN) !important;
    outline-color: var(--VAPOR-CYAN);
    accent-color: var(--VAPOR-CYAN);
  }

  .signal-text:focus,.signal-text:hover,.signal-text:focus:-webkit-autofill,.signal-text:hover:-webkit-autofill {
    color: var(--SIGNAL-ORANGE);
    -webkit-text-fill-color: var(--SIGNAL-ORANGE) !important;
    outline-color: var(--SIGNAL-ORANGE);
    accent-color: var(--SIGNAL-ORANGE);
  }

  .sky-text:focus,.sky-text:hover,.sky-text:focus:-webkit-autofill,.sky-text:hover:-webkit-autofill {
    color: var(--SKY-BLUE) ;
    -webkit-text-fill-color: var(--SKY-BLUE) !important;
    outline-color: var(--SKY-BLUE);
    accent-color: var(--SKY-BLUE);
  }



  .peach-button:active{
    background-color: var(--VAPOR-PEACH);
    outline-color: var(--VAPOR-PEACH);
    color: var(--PURE-WHITE);
  }



  .cyan-button:active {
    background-color: var(--VAPOR-CYAN);
    outline-color: var(--VAPOR-CYAN);
    color: var(--PURE-WHITE);
  }


  .signal-button:active {
    background-color: var(--SIGNAL-ORANGE);
    outline-color: var(--SIGNAL-ORANGE);
    color: var(--PURE-WHITE);
  }



  .sky-button:active {
    background-color: var(--SKY-BLUE);
    outline-color: var(--SKY-BLUE);
    color: var(--PURE-WHITE);
  }

  .peach-check:hover {
    outline-color: var(--VAPOR-PEACH);
  }

  .peach-check:hover:checked {
    background-color: var(--VAPOR-PEACH);
  }

  .cyan-check:hover {
    outline-color: var(--VAPOR-CYAN);
  }

  .cyan-check:hover:checked {
    background-color: var(--VAPOR-CYAN);
  }

  .sky-check:hover {
    outline-color: var(--SKY-BLUE);
  }

  .sky-check:hover:checked {
    background-color: var(--SKY-BLUE);
  }

  .signal-check:hover {
    outline-color: var(--SIGNAL-ORANGE);
  }

  .signal-check:hover:checked {
    background-color: var(--SIGNAL-ORANGE);
  }

  .buttonbox {
    height: 3em;
    border: none;
    border-radius: 0.5em;
    height: 3em;
    margin: 10px;
    color: var(--PURE-WHITE);
    background-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--DARK-GRAY);
    transition: all 0.3s;
  }

  a .buttonbox {
    width: inherit;
    max-width: inherit;
  }

  .errortext {
    color: var(--ERROR-RED);
  }

  .adminbutton:hover {
    background-color: var(--ERROR-RED);
    color: var(--PURE-BLACK);
  }

  .blockbox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 40px);
    min-height: 7em;
    height: fit-content;
    display: flex;
    border-radius: 1em;
    background-color: var(--DARK-GRAY);
    flex-direction: column;
    padding: 20px;
  }

  .buttonholderbox {
    width: 40em;
    max-width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.spacerbox {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacerbox .inputbox {
  width: 40em;
}

.spacerbox:hover .sky-check,.spacerbox:hover .sky-text {
  outline-color: var(--SKY-BLUE);
  color: var(--SKY-BLUE);
}

.spacerbox:hover .sky-check:checked {
  background-color: var(--SKY-BLUE);
}

.spacerbox:hover .cyan-check,.spacerbox:hover .cyan-text {
  outline-color: var(--VAPOR-CYAN);
  color: var(--VAPOR-CYAN);
}

.spacerbox:hover .cyan-check:checked {
  background-color: var(--VAPOR-CYAN);
}

.spacerbox:hover .peach-check,.spacerbox:hover .peach-text {
  outline-color: var(--VAPOR-PEACH);
  color: var(--VAPOR-PEACH)
}

.spacerbox:hover .peach-check:checked {
  background-color: var(--VAPOR-PEACH);
}

.spacerbox:hover .signal-check,.spacerbox:hover .signal-text {
  outline-color: var(--SIGNAL-ORANGE);
  color: var(--SIGNAL-ORANGE);
}

.spacerbox:hover .signal-check:checked {
  background-color: var(--SIGNAL-ORANGE);
}

.roundbutton {
  width: 3em;
  height: 3em;
  margin: 10px;

  border: none;
  border-radius: 100%;
  background-color: transparent;

  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--DARK-GRAY);

  transition: all 0.3s;

  overflow: hidden;
}

.roundbutton span {
  color: var(--DARK-GRAY);
}

.roundbutton:active span {
  color: var(--PURE-WHITE);
}

.heatbar {
  width: 30em;
  max-width: calc(100vh - 60px);
  height: 1em;

  border-radius: 3em;
  overflow: hidden;

  margin: 10px;

  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--DARK-GRAY);
}

.heatbar div {
  transition: all 0.3s;

  background-color: var(--DARK-GRAY);

  animation: heat 10s infinite;

  height: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
}

orange {
  color: var(--SIGNAL-ORANGE);
  stroke: var(--SIGNAL-ORANGE);
  fill: var(--SIGNAL-ORANGE);
}

cyan {
  color: var(--VAPOR-CYAN);
  stroke: var(--VAPOR-CYAN);
  fill: var(--VAPOR-CYAN);
}

blue {
  color: var(--SKY-BLUE);
  stroke: var(--SKY-BLUE);
  fill: var(--SKY-BLUE)
}

peach {
  color: var(--VAPOR-PEACH);
  stroke: var(--VAPOR-PEACH);
  fill: var(--VAPOR-PEACH);
}

red {
  color: var(--ERROR-RED);
  stroke: var(--ERROR-RED);
  fill: var(--ERROR-RED);
}

h1 {
  text-align: center;
}

.absolute {
  position: absolute;
}

.title {
  width: 40em;
  max-width: 90%;
  height: 10em;
  position: relative;
}

.title h1 {
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3.5em;
}

.scorebox {
  background-color: var(--DARK-GRAY);
  border-radius: 2em;

  max-width: 90%;
  width: 30em;

  margin-bottom: 5em;
}

.scorebox h1 {
  margin: 10px;
  text-align: start;
}

.rowbox {
  max-width: 90%;
  width: 40em;
  display: flex;
  flex-direction: row;
}

.boardbox {
  width: 50%;
}

.tablebox p {
  margin: 0;
  text-align: center;
}

.tablebox p:nth-child(2n) {
  background-color: var(--DARK-GRAY);
}


.center-text {
  text-align: center;
}

.borderbox {
  border-radius: 1em;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--DARK-GRAY);
  margin-top: 10px;
}

.flex {
  display: flex;
}

.question-text {
  margin: 0;
  max-width: 90%;
  width:25em;
}

@media screen and (orientation: landscape) {
  .sky-button:hover {
    outline-color: var(--SKY-BLUE);
    color:var(--SKY-BLUE);
    accent-color: var(--SKY-BLUE);
  }
  
  .peach-button:hover{
    outline-color: var(--VAPOR-PEACH);
    color: var(--VAPOR-PEACH);
    accent-color: var(--VAPOR-PEACH);
  }

  .cyan-button:hover{
    outline-color: var(--VAPOR-CYAN);
    color: var(--VAPOR-CYAN);
    accent-color: var(--VAPOR-CYAN);
  }

  .signal-button:hover {
    outline-color: var(--SIGNAL-ORANGE);
    color: var(--SIGNAL-ORANGE);
    accent-color: var(--SIGNAL-ORANGE);
  }
  .sky-button:hover span {
    color: var(--SKY-BLUE)
  }
  .signal-button:hover span {
    color: var(--SIGNAL-ORANGE)
  }
  .cyan-button:hover span {
    color: var(--VAPOR-CYAN);
  }
  .peach-button:hover span {
    color: var(--VAPOR-PEACH);
  }
}

@media screen and (orientation: portrait) {
  .transparentbox {
    height: 5em;
  }
  .mainbox {
    min-height: calc(100vh - 18em - 21px);
  }
  .horizontalbox {
    width: 100%;
    height: 200em;
  }
  .question-text {
    font-size: x-large;
  }
  h3 {
    font-size: medium;
  }
}